body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: large;
}

.player {
    display: flex;
    gap: 10px;
}

button {
    width: 7em;
    height: 3em;
    font-size: 18px;
}

.round-winner,
.score {
    margin: 1em;
    font-size: large;
}